
@font-face {
    font-family: headerFont;
    src: url("ui/fonts/Summer-Vibes-OTF.otf");
}

@font-face {
    font-family: myFont;
    src: url("ui/fonts/OpenSans-Regular.ttf");
}

#wrapper {
    max-width: 900px;
    min-height: 500px;
    max-height: 700px;
    display: flex;
    margin: auto;
    color: white;
    font-family: myFont;
    font-size: 13px;
}

#left_panel {
    min-height: 500px;
    background-color: #27344b;
    flex: 1;
    text-align: center;

}

#profileImg {
    width: 50%;
    border: solid thin white;
    border-radius: 50%;
    margin: 10px;
}

#left_panel label {
    width: 100%;
    height: 20px;
    display: block;
    background-color: #404b56;
    border-bottom: solid thin #ffffff55;
    cursor: pointer;
    padding: 5px;
    transition: all 1s ease;
}

#left_panel label:hover {
    background-color: #778593;
}

#left_panel label img {
    float: right;
    width: 25px;
}


#right_panel {
    min-height: 400px;
    background-color: green;
    flex: 4;
    text-align: center;
}

#header {
    background-color: #485b6c;
    height: 70px;
    font-size: 40px;
    font-family: headerFont;
    text-align: center;
    position: relative;
}

#container {
    display: flex;
}

#inner_left_panel {
    background-color: #383e48;
    flex: 1;
    min-height: 430px;
    max-height: 630px;
}

#inner_right_panel {
    background-color: #f2f7f8;
    flex: 2;
    min-height: 430px;
    max-height: 630px;
    transition: all 1.5s ease;
}

/*symbol ~ is for sibling*/
#radio_chat:not(:checked) ~ #inner_right_panel {
    flex: 0;
}


#contact{
    width: 100px;
    height: 120px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

#contact img{
    width: 100px;
    height: 100px;

}

#active_contact{
    height: 70px;
    margin: 10px;
    border: solid thin #aaa;
    padding: 2px;
    background-color: #eee;
    color: #444;
    cursor: pointer;
}

#active_contact img{
    width: 70px;
    height: 70px;
    float: left;
    margin: 2px;

}

.loader-on{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    margin-left: 10px;
    width: 30%;
    height: 70px;
}

.loader-on img{
    width: 60px;
}

.loader-off{
    display: none;
}


/*//messages*/
#message_left{
    /*height: 70px;*/
    margin: 10px;
    padding: 2px;
    padding-right: 8px;
    background-color: #aa88ee;
    color: white;
    float: left;
    box-shadow: 0px 0px 10px #aaa;
    /*border-top-left-radius: 50%;*/
    border-bottom-left-radius:50%;
    border-top-right-radius:30%;
    position: relative;
    width: 60%;
    min-width: 200px;
}
#message_left .profileImage{
    width: 60px;
    height: 60px;
    float: left;
    margin: 2px;
    border-radius: 50%;
    border: solid 2px white;
}

#message_left div{
    position: absolute;
    /*left: -5px;*/
    /*top: -5px;*/
    left: -10px;
    top: 20px;
    width: 20px;
    height: 20px;
    background-color: #34474f;
    border: solid 2px white;
    border-radius: 50%;
}

#message_left #trash{

    position: absolute;
    bottom: 5px;
    right: -20px;
    cursor: pointer;
}


#message_right{
    /*height: 70px;*/
    margin: 10px;
    padding: 2px;
    padding-right: 8px;
    background-color: #fbffee ;
    color: #444;
    float: right;
    box-shadow: 0px 0px 10px #aaa;
    /*border-top-left-radius: 50%;*/
    border-bottom-right-radius:50%;
    border-top-left-radius:30%;
    position: relative;
    width: 60%;
    min-width: 200px;
}
#message_right .profileImage{
    width: 60px;
    height: 60px;
    float: left;
    margin: 2px;
    border-radius: 50%;
    border: solid 2px white;
}

#message_right div{
    position: absolute;
    /*left: -5px;*/
    /*top: -5px;*/
    right: -10px;
    top: 20px;
    width: 20px;
    height: 20px;
    background-color: #34474f;
    border: solid 2px white;
    border-radius: 50%;
}
#message_right #trash{

    position: absolute;
    bottom: 5px;
    left: -20px;
    cursor: pointer;
}

#messages_container{
    /*border: solid thin #888;*/
    height: 578px;
    overflow-y: scroll;
}

#messages_container_wrapper{
    /*border: solid thin #888;*/
    height: 100%;
}

.alert{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #f8d7da;
    color: #721c24;
    padding: 20px;
    border: 1px solid #d4edda;
    border-radius: 10px;
    font-size: 18px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    left: 50vw;
    top:50px;
    transform: translate(-50%, -50%);
    max-height: 50px;
}

.alert-success{

    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 20px;
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    border-radius: 10px;
    font-size: 18px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    left: 50vw;
    top:50px;
    transform: translate(-50%, -50%);
    max-height: 50px;
}